@mixin face($family, $file, $weight) {
  @font-face {
    font-family: $family;
    src: url("../assets/fonts/#{$file}.ttf") format("truetype");
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

@include face("Manrope", "Poppins-ExtraLight", 200);
@include face("Manrope", "Poppins-Light", 300);
@include face("Manrope", "Poppins-Regular", 400);
@include face("Manrope", "Poppins-Medium", 500);
@include face("Manrope", "Poppins-SemiBold", 600);
@include face("Manrope", "Poppins-Bold", 700);
@include face("Manrope", "Poppins-ExtraBold", 800);
@include face("Varela Round", "VarelaRound-Regular", 400);
